NANGO_API_KEY=
NANGO_HOST=https://api.nango.dev

YOUTUBE_ACCESS_TOKEN=
YOUTUBE_REFRESH_TOKEN=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=

NANGO_YOUTUBE_INTEGRATION_ID=
NANGO_YOUTUBE_CONNECTION_ID=

NANGO_TIKTOK_INTEGRATION_ID=
NANGO_TIKTOK_CONNECTION_ID=

NANGO_INSTAGRAM_INTEGRATION_ID=
NANGO_INSTAGRAM_CONNECTION_ID=
NANGO_INSTAGRAM_IG_USER_ID=

NANGO_LINKEDIN_INTEGRATION_ID=
NANGO_LINKEDIN_CONNECTION_ID=

NANGO_FACEBOOK_INTEGRATION_ID=
NANGO_FACEBOOK_CONNECTION_ID=
NANGO_FACEBOOK_PAGE_ID=

NANGO_X_INTEGRATION_ID=
NANGO_X_CONNECTION_ID=

NANGO_PINTEREST_INTEGRATION_ID=
NANGO_PINTEREST_CONNECTION_ID=
NANGO_PINTEREST_BOARD_ID=
